<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{parts/common :: html_head}"></head>

<body>
	<header th:replace="~{parts/common :: page_header}"></header>
	<main>

		<!-- Thymeleafバリデーション -->

		<form action="" method="post" th:object="${user}">
			<div class="container">
				<div class="row pt-3">
					<div class="col-10 col-md-6 mx-auto">
						<h3 class="text-center mb-3">ユーザー登録画面</h3>

						<div>
							<img th:src="@{/images/user_icon.png}" id="prevAvatar" class="d-block mx-auto" width="125px"
								height="125px" style="border-radius: 50%; object-fit: cover;">
							<span class="d-block float-end mt-1">
								<input class="form-control form-control-sm" type="file" th:field="*{avatar}" onchange="previewFile()">
							</span>
						</div>

					</div>

					<div class="row g-3 justify-content-center">
						<div class="col-10">
							<label for="email" class="form-label">Email ※必須</label>
							<input type="text" class="form-control" th:field="*{email}">
							<p><small class="error" th:errors="*{email}"></small></p>
						</div>

						<div class="col-10 col-sm-5">
							<label for="name" class="form-label">氏名 ※必須</label>
							<input type="text" class="form-control" th:field="*{name}">
							<p><small class="error" th:errors="*{name}"></small></p>
						</div>

						<div class="col-10 col-sm-5">
							<label for="loginPass" class="form-label">パスワード ※必須・8～64文字</label>
							<input type="password" class="form-control" th:field="*{loginPass}">
							<p><small class="error" th:errors="*{loginPass}"></small></p>
						</div>

						<div class="col-10">
							<label for="introduction" class="form-label">自己紹介 ※任意・100文字以内</label>
							<textarea class="form-control" rows="3" th:field="*{introduction}"></textarea>
							<p><small class="error" th:errors="*{introduction}"></small></p>
						</div>

						<div class="col-10">
							<div class="d-flex justify-content-between align-items-center">
								<a class="btn btn-link me-auto" th:href="@{/grape/login}">
									<i class="bi bi-skip-backward" style="font-size: 1.5rem; color: cornflowerblue;"></i>
								</a>
								<button class="btn btn-link ms-auto" type="submit">
									<i class="bi bi-cloud-arrow-up" style="font-size: 1.5rem; color: cornflowerblue;"></i>
								</button>
							</div>
						</div>

					</div>
				</div>
			</div>
		</form>
	</main>
	<div th:replace="~{parts/common :: block_script}"></div>
	<script>

		//画像プレビュー
		function previewFile() {

			const preview = document.getElementById('prevAvatar');
			const file = document.querySelector('input[type=file]').files[0];
			const reader = new FileReader();

			reader.addEventListener("load", () => {
				// 画像ファイルを base64 文字列に変換
				preview.src = reader.result;
			}, false);

			if (file) {
				reader.readAsDataURL(file);
			}
		}

	</script>
</body>

</html>