<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{parts/common :: html_head}"></head>

<body>
	<header th:replace="~{parts/common :: page_header}"></header>
	<main>
		<div class="container">
			<div class="row pt-3 justify-content-center">
				<div class="col-8 col-sm-8 col-md-6 col-lg-4">
					<h3 class="mb-3 text-center">ユーザー登録画面</h3>
					<form action="" method="post" enctype="multipart/form-data" th:object="${user}">

						<label for="avatar" class="form-label d-block text-center">
							<img th:src="@{/images/user_icon.png}" id="prevImage" width="125px" height="125px"
								style="border-radius: 50%; object-fit: cover;">
						</label>
						<input class="form-control form-control-sm" type="file" th:field="*{avatar}"
							onchange="previewFile()">
						<p><small class="error" th:errors="*{avatar}"></small></p>

						<label for="email" class="form-label">Email</label>
						<input type="text" class="form-control" th:field="*{email}">
						<p><small class="error" th:errors="*{email}"></small></p>

						<label for="loginPass" class="form-label">パスワード</label>
						<input type="password" class="form-control" th:field="*{loginPass}">
						<p><small class="error" th:errors="*{loginPass}"></small></p>

						<label for="name" class="form-label">氏名</label>
						<input type="text" class="form-control" th:field="*{name}">
						<p><small class="error" th:errors="*{name}"></small></p>

						<label for="introduction" class="form-label">自己紹介</label>
						<textarea class="form-control" rows="3" th:field="*{introduction}"></textarea>
						<p><small class="error" th:errors="*{introduction}"></small></p>

						<div class="d-flex justify-content-between align-items-center">
							<a class="btn btn-link me-auto" th:href="@{/grape/login}">
								<i class="bi bi-skip-backward" style="font-size: 1.5rem; color: cornflowerblue;"></i>
							</a>
							<button class="btn btn-link ms-auto" type="submit">
								<i class="bi bi-cloud-arrow-up" style="font-size: 1.5rem; color: cornflowerblue;"></i>
							</button>
						</div>

					</form>
				</div>
			</div>
		</div>
	</main>
	<div th:replace="~{parts/common :: block_script}"></div>
	<script>
		
		//画像プレビュー
		function previewFile() {

			const preview = document.getElementById('prevImage');
			const file = document.querySelector('input[type=file]').files[0];
			const reader = new FileReader();

			reader.addEventListener("load", () => {
				// 画像ファイルを base64 文字列に変換
				preview.src = reader.result;
			}, false);

			if (file) {
				reader.readAsDataURL(file);
			}
		}
		
	</script>
</body>

</html>