@charset "UTF-8";

/* common */

a,
.btn-link {
	text-decoration: none;
}

a:hover,
.btn-link:hover,
.bi-suit-heart,
.bi-suit-heart-fill {
	cursor: pointer;
	opacity: 0.6;
}

.bi-suit-heart,
.bi-suit-heart-fill,
.bi-chat-dots,
.bi-journal-text {
	font-size: 1.0rem;
}

.bi-suit-heart {
	color: gray;
}

.bi-suit-heart-fill {
	color: red;
}

.bi-chat-dots,
.bi-journal-text,
.created {
	position: relative;
}

.bi-chat-dots {
	bottom: 1px;
}

.bi-journal-text {
	bottom: 5px;
}

.created {
	font-size: 0.5rem;
	bottom: -7px;
}

img {
	aspect-ratio: 4 / 3;
}

.error {
	color: #f00;
}

/* articleList */

.hero {
	height: 400px;
}

.hero img {
	width: 100%;
	height: 400px;
	object-fit: cover;
	position: absolute;
	opacity: 0;
	transition: opacity 1s;
}

.hero img.current {
	opacity: 1;
}

.animate {
	opacity: 1;
	transform: translateY(20px);
	transition: opacity .3s, transform .3s;
}

.animate.appear {
	opacity: 1;
	transform: none;
}

/* article */

#creator {
	bottom: 4px;
	position: relative;
}

.note {
	background-image: linear-gradient(180deg, #ddd 1px, transparent 1px);
	background-size: 100% 3.0em;
	line-height: 3.0em;
	padding-bottom: 1px;
	font-weight: bold;
}