<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{parts/common :: html_head()}"></head>

<body>
	<header th:replace="~{parts/common :: header()}"></header>
	<main>
		<div class="container">

			<div class="d-flex justify-content-end align-items-center my-3">
				<a th:if="${session.loginStatus.id == user.id}" th:href="@{/user/edit/{id}(id=${user.id})}"
					class="align-baseline me-2">
					<i class="bi bi-person-up me-1"></i>
					更新
				</a>
				<a th:if="${session.loginStatus.id == user.id}" th:href="@{/user/delete/{id}(id=${user.id})}" id="deleteUser"
					class="text-danger align-baseline">
					<i class="bi bi-person-down me-1"></i>
					退会
				</a>
			</div>

			<div class="row justify-content-evenly align-items-center">
				<div class="col-10 justify-content-evenly align-items-center">
					<div class="d-flex justify-content-evenly align-items-center mb-3">

						<div class="d-grid gap-3 px-2">
							<!-- ユーザーアイコン -->
							<img th:src="@{/uploads/{avatar}(avatar=${user.avatar})}" width="125px" height="125px"
								style="border-radius: 50%; object-fit: cover;">

							<!-- フォローボタン -->
							<th:block th:unless="${session.loginStatus.id == user.id}">
								<button th:unless="${user.followIsDone}" id="add" class="btn btn-sm btn-primary mx-auto follow"
									type="button" th:data-showUserId="${user.id}">フォローする</button>
								<button th:if="${user.followIsDone}" id="del" class="btn btn-sm btn-info mx-auto follow" type="button"
									th:data-showUserId="${user.id}">フォロー中</button>
							</th:block>
						</div>

						<div class="d-grid gap-2 px-2">
							<strong>
								[[${user.name}]]
							</strong>
							<!-- Button trigger modal -->
							<div>
								フォロワー
								<button th:data-userId="${user.id}" id="followee" type="button"
									class="btn btn-sm btn-link text-black fw-bold px-1" data-bs-toggle="modal"
									data-bs-target="#exampleModal">
									<span id="followeeCount" style="bottom: 2px; position: relative;">
										[[${user.followeeCount}]]
									</span>
								</button>
								フォロー中
								<button th:data-userId="${user.id}" id="following" type="button"
									class="btn btn-sm btn-link text-black fw-bold px-1" data-bs-toggle="modal"
									data-bs-target="#exampleModal">
									<span id="followingCount" style="bottom: 2px; position: relative;">
										[[${user.followingCount}]]
									</span>
								</button>
							</div>
							<!-- import parts.modal -->
							<div>
								[[${user.introduction}]]
							</div>
						</div>

					</div>
				</div>
			</div>
			<hr class="m-0">

			<div th:if="${session.loginStatus.id == user.id}" class="d-flex justify-content-evenly my-2">
				<a th:href="@{/user/show/{id}(id=${user.id}, status=PUB)}" class="text-muted">
					<i class="bi bi-grid-3x3-gap-fill"></i>
					<small>[[${user.name}]]さんの投稿</small>
				</a>
				<a th:href="@{/user/show/{id}(id=${user.id}, status=PRI)}" class="text-muted">
					<i class="bi bi-grid-3x3-gap"></i>
					<small>非公開・下書き投稿</small>
				</a>
				<a th:href="@{/user/show/{id}(id=${user.id}, status=LIKED)}" class="text-muted">
					<i class="bi bi-bookmark-heart"></i>
					<small>いいねした投稿</small>
				</a>
			</div>

			<div th:replace="~{parts/articleListParts :: articleList()}"></div>

		</div>
	</main>
	<div th:replace="~{parts/common :: pagination( ${totalPages}, ${currentPage}, 'user/show/' + ${user.id} )}"></div>
	<th:block th:replace="~{parts/common :: javascripts()}"></th:block>
	<script th:src="@{/js/iine.js}"></script>
	<script th:src="@{/js/huwatto.js}"></script>
	<script th:src="@{/js/modal.js}"></script>
	<th:block th:replace="~{parts/modal :: followList()}"></th:block>
	<script>
		$(document).ready(function () {

			//非同期フォローボタン
			let $follows = $('.follow');

			if ($follows !== null) {
				//追加時
				$follows.click(function () {

					const $addOrDel = $(this).attr('id');
					const $showUserId = $follows.data().showuserid;

					switch ($addOrDel) {
						case "add":
							$.ajax({
								url: 'http://localhost:8888/follow/add',
								type: 'GET',
								data: {showUserId: $showUserId},
								context: this,
							})
								.done(function (res) {
									$(this).attr('id', "del");
									$(this).toggleClass('btn-primary');
									$(this).toggleClass('btn-info');
									$(this).text('フォロー中');
									$('#followeeCount').empty().append(res);
								})
								.fail(function () {
									alert('失敗しました');
								});
							break;
						case "del":
							$.ajax({
								url: 'http://localhost:8888/follow/delete',
								type: 'GET',
								data: {showUserId: $showUserId},
								context: this,
							})
								.done(function (res) {
									$(this).attr('id', "add");
									$(this).toggleClass('btn-primary');
									$(this).toggleClass('btn-info');
									$(this).text('フォローする');
									$('#followeeCount').empty().append(res);
								})
								.fail(function () {
									alert('失敗しました');
								});
							break;
					}

				});

			}

			//退会アラート
			const deleteUser = document.getElementById('deleteUser');
			if (deleteUser !== null) {
				deleteUser.addEventListener('click', e => {
					const result = confirm("本当に退会しますか？");
					if (!result) {
						e.preventDefault();
					}
				});
			}

		});
	</script>
</body>

</html>