<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{parts/common :: html_head}"></head>

<body>
	<header th:replace="~{parts/common :: page_header}"></header>
	<div class="hero">
		<img th:src="@{/images/covers/cover1.jpg}" class="current">
		<img th:src="@{/images/covers/cover2.jpg}">
		<img th:src="@{/images/covers/cover3.jpg}">
		<img th:src="@{/images/covers/cover4.jpg}">
		<img th:src="@{/images/covers/cover5.jpg}">
	</div>
	<main class="album bg-light">
		<div class="container">
			<div th:replace="~{parts/articleListParts :: page_articleList}"></div>
		</div>
	</main>
	<div th:replace="~{parts/common :: block_script}"></div>
	<script th:src="@{/js/iine.js}"></script>
	<script th:src="@{/js/huwatto.js}"></script>
	<script>
		$(document).ready(function () {

			//heroスライドショー
			function play() {
				setTimeout(() => {
					images[currentIndex].classList.remove('current');
					currentIndex++;
					if (currentIndex > images.length - 1) {
						currentIndex = 0;
					}
					images[currentIndex].classList.add('current');
					play();
				}, 2000);
			}
			const images = document.querySelectorAll('.hero img');
			let currentIndex = 1;
			play();

		});

	</script>
</body>

</html>