<div class="row row-cols-md-2 row-cols-lg-3" th:fragment="articleList()">
	<div class="col-md-6 col-lg-4 my-2 animate" th:each="article : ${articleList}">
		<div class="card shadow-sm">

			<!-- 投稿画像 -->
			<a th:href="@{/article/show/{id}(id=${article.id})}">
				<img th:src="@{/uploads/{image}(image=${article.image})}" class="img-thumbnail" style="padding: 0.75rem;">
			</a>

			<div class="card-body py-2">

				<!-- 投稿者 -->
				<a th:href="@{/user/show/{id}(id=${article.user.id})}">
					<img th:src="@{/uploads/{avatar}(avatar=${article.user.avatar})}" width="32" height="32"
						class="rounded-circle">
					<small class="d-inline-block align-bottom text-black ps-1">
						<strong>[[${article.user.name}]]</strong>
					</small>
				</a>

				<!-- 投稿内容 -->
				<p class="card-text text-truncate my-2">
					[[${article.caption}]]
				</p>

				<div class="d-flex justify-content-between">
					<span class="d-flex">

						<!-- いいね -->
						<small class="pe-1">
							<i th:if="${article.likeIsDone}"
							class="bi bi-suit-heart-fill iine" id="done"
							th:data-articleId="${article.id}"></i>
							<i th:unless="${article.likeIsDone}"
							class="bi bi-suit-heart iine" id="yet"
							th:data-articleId="${article.id}"></i>
							<span id="likeCount">[[${article.likeCount}]]</span>
						</small>

						<!-- コメント -->
						<small id="dots" class="px-1">
							<i class="bi bi-chat-dots text-muted"></i>
							<span id="CommentCount">[[${article.commentCount}]]</span>
						</small>

					</span>

					<!-- 投稿日時 -->
					<small class="text-muted created">
						[[${#dates.format(article.createdAt, 'yy-MM-dd HH:mm')}]]
					</small>

				</div>
			</div>
		</div>
	</div>
</div>